html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  height: 60%;
  width: 60%;
}

#markerList {
  position: absolute;
  top: 225px;
  left: 150px;
  background: rgba(47, 193, 174, 0.64);
  color: rgb(90, 48, 233);
  padding: 25px;
}

#markerList a {
  color: rgb(48, 14, 164);
}

.markers {
  background: transparent;
}
